# --- Build directories ---
bin/
build/
build-*/
cmake-build-*/
out/

# --- IDE directories ---
.idea/
.vs/
.vscode/

# --- Others directories ---
.cache 

# --- Compiled shaders ---
*.spv
*.msl
*.dxil
